<.header>
  New Face
  <:subtitle>Use this form to manage face records in your database.</:subtitle>
</.header>

<.face_form changeset={@changeset} action={~p"/faces"} />

<.back navigate={~p"/faces"}>Back to faces</.back>
